<h1>Pairs</h1>

<table>
  <tr>
    <th>Pairs</th>
    <th></th>
  </tr>

  <% @pair_groups.each do |pair_group| %>
  <tr>
    <%= form_tag "save" %>
      <%= hidden_field_tag "pairs", pair_group.to_a.map(&:id).to_json -%>
      <td><%= pair_group %></td>
      <td><%= submit_tag "Use" -%></td> 
  </tr>
  <% end %>

</table>


